# WK01

## Getting started with Python syntax

### Notebooks

In [ ]:
x = "hello"
print(x)

### if / else

JavaScript / C++:

```js
const n = 8;

if (n > 10) {
  print("n is greater than 10");
} else if (n > 5) {
  print("n is between 5 and 10");
} else {
  print("n is 5 or less");
}
```

Python:

In [7]:
n = 8

if n > 10:
  print("n is greater than 10")
elif n > 5:
  print("n is between 5 and 10")
else:
  print("n is 5 or less")

n is between 5 and 10

### iterate with counter

JavaScript / C++:

```js
for (let c = 0; c < 10; c++) {
  print(c);
}

for (let c = 10; c < 50; c+=5) {
  print(c);
}
```

Python:

In [11]:
for c in range(10): #Same as "for c in range(0, 10, 1)"
  print(c)

print("")

for c in range(10, 50, 5):
  print(c)

0
1
2
3
4
5
6
7
8
9

10
15
20
25
30
35
40
45

### Print all numbers between $100$ and $200$ that end in $3$

In [15]:
# TODO: Print numbers between 100 and 200 that end in 3
for c in range(103, 200, 10):
    print(c)

103
113
123
133
143
153
163
173
183
193

### iterate over array/list

JavaScript / C++ ([RecamÃ¡n's sequence](https://oeis.org/A005132)):

```js
const array = [ 0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22 ];

for (const i of array) {
  print(i);
}
```

Python:

In [17]:
array = [ 0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22 ]

for i in array:
  print(i)

0
1
3
6
2
7
13
20
12
21
11
22

### iterate over object

JavaScript / C++:

```js
const obj = {
  name: "thiago",
  id: "tgh8114"
};

for (const [key, val] of Object.entries(obj)) {
  print(key, ":", val);
}
```

Python:

In [18]:
obj = {
  "name": "thiago",
  "id": "tgh8114"
}

for key, val in obj.items():
  print(key, ":", val)

name : thiago
id : tgh8114

### iterate over list of objects

JavaScript / C++:

```js
const objs = [{
  name: "thiago",
  id: "tgh8114"
},
{
  name: "lex",
  id: "lgl2222"
}];

for (const obj of objs) {
  for (const [key, val] of Object.entries(obj)) {
    print(key, ":", val);
  }
}
```

Python:

In [21]:
objs = [{
  "name": "thiago",
  "id": "tgh8114"
},
{
  "name": "lex",
  "id": "lgl2222"
}]

for obj in objs:
  for key, val in obj.items():
    print(key, ":", val)

name : thiago
id : tgh8114
name : lex
id : lgl2222

Or:

In [20]:
objs = [{
  "name": "thiago",
  "id": "tgh8114"
},
{
  "name": "lex",
  "id": "lgl2222"
}]

for k, v in [(key, val) for obj in objs for key, val in obj.items()]:
  print(k, ":", v)

name : thiago
id : tgh8114
name : lex
id : lgl2222

## ðŸ¤” ðŸ˜«

That last expression is very confusing. We'll break it down and explain it soon.

### "list comprehension": create a list from another list

JavaScript / C++ ([Catalan numbers](https://oeis.org/A000108)):

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const squared = [];

for (const i of array) {
  squared.push(i * i);
}

for (const i of squared) {
  print(i);
}
```

Python:

In [38]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
squared = []

# TODO: build the array of squared values

for i in array:
  squared.append(i * i)

for i in squared:
  print(i)

1
1
4
25
196
1764
17424
184041
2044900
23639044

To print from both arrays at the same time:

In [39]:
for idx,i in enumerate(squared):
  print(array[idx], "->", i)

print("\nor\n")
for i,ii in zip(array, squared):
  print(i, "->", ii)

1 -> 1
1 -> 1
2 -> 4
5 -> 25
14 -> 196
42 -> 1764
132 -> 17424
429 -> 184041
1430 -> 2044900
4862 -> 23639044

or

1 -> 1
1 -> 1
2 -> 4
5 -> 25
14 -> 196
42 -> 1764
132 -> 17424
429 -> 184041
1430 -> 2044900
4862 -> 23639044

### "list comprehension": create a list from another list

JavaScript / C++ ([Catalan numbers](https://oeis.org/A000108)):

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const squared = array.map(i => i * i);

for (const i of squared) {
  print(i);
}
```

Python:

In [40]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
squared = [ i * i for i in array ]

for i in squared:
  print(i)

1
1
4
25
196
1764
17424
184041
2044900
23639044

### List Comprehensions

<img src="./imgs/list-comp-00.jpg" height="150px"/>

### "list comprehension": create a list from parts of another list

JavaScript / C++ ([Catalan numbers](https://oeis.org/A000108)):

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const odds = [];

for (const i of array) {
  if (i % 2 == 1) {
    odds.push(i);
  }
}

for (const i of odds) {
  print(i);
}
```

Python with for loop:

In [ ]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
odds = []

for i in array:
  if i % 2 == 1:
    odds.append(i)

for i in odds:
  print(i)

Python with comprehension:

In [ ]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
odds = [ i for i in array if i % 2 == 1 ]

for i in odds:
  print(i)

### List Comprehensions + predicate = Filtering

<img src="./imgs/list-comp-01.jpg" height="150px"/>

### Filtering: create a list from parts of another list

JavaScript / C++ ([Catalan numbers](https://oeis.org/A000108)):

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const odds = array.filter(i => i % 2 == 1);

for (const i of odds) {
  print(i);
}
```

### Use comprehension to create a list of values between 100 and 500 that are divisible by 3 and 7

In [45]:
# TODO: Create a list of values between 100 and 500 that are divisible by 3 and 7
threes_sevens = []

for i in range(100, 500, 1):
    if i % 3 == 0 and i % 7 == 0:
        print(i)

105
126
147
168
189
210
231
252
273
294
315
336
357
378
399
420
441
462
483

### More complex comprehensions:

In [48]:
objs = [
  {
    "name": "thiago",
    "id": "tgh8114",
    "grade": "A"
  },
  {
    "name": "lex",
    "id": "lgl2222",
    "grade": "A+"
  },
  {
    "name": "flex",
    "id": "flx1234",
    "grade": "B"
  }
]

for obj in objs:
  for key, val in obj.items():
    print(key, ":", val)
  print("")

name : thiago
id : tgh8114
grade : A

name : lex
id : lgl2222
grade : A+

name : flex
id : flx1234
grade : B

### Flattening: produces single list

```python
# 0.
for obj in objs:
  for key, val in obj.items():
```

```python
# 1.
for obj in objs for key, val in obj.items()
```

```python
# 2.
[(key, val) for obj in objs for key, val in obj.items()]
```

In [53]:
[(key, val) for obj in objs for key, val in obj.items()]

[('name', 'thiago'),
 ('id', 'tgh8114'),
 ('grade', 'A'),
 ('name', 'lex'),
 ('id', 'lgl2222'),
 ('grade', 'A+'),
 ('name', 'flex'),
 ('id', 'flx1234'),
 ('grade', 'B')]

### Non-Flattening: maintains original structure

```python
# 0.
for obj in objs:
  for key, val in obj.items():
```

```python
# 1.
for key, val in obj.items() for obj in objs
```

```python
# 2.
[[for key,val in obj.items()] for obj in objs]
```

```python
# 3.
[[(key, val) for key,val in obj.items()] for obj in objs]
```

In [ ]:
[[(key, val) for key,val in obj.items()] for obj in objs]

Result is a bit repetitive...

What if instead we want something like a csv file or spreadsheet?

```python
[
  ["key", "key", "key"],
  ["val0", "val0", "val0"],
  ["val1", "val1", "val1"],
  ...
]
```

In [56]:
# TODO: Create list of lists, where first list is a list of key names
# and remaining lists have just their values
keylist = ["key1", "key2", "key3"]
val1list = ["val1_1", "val1_2", "val1_3"]
val2list = ["val2_1", "val2_2", "val2_3"]

for i,ii,iii in zip(keylist, val1list, val2list):
  print(i, "->", ii, "->", iii)


x = {"name": "thiago"}
z = {"grade": "B"}
y = {"name": "Nat", "grade": "A"}

print(x | z)

key1 -> val1_1 -> val2_1
key2 -> val1_2 -> val2_2
key3 -> val1_3 -> val2_3
{'name': 'thiago', 'grade': 'B'}